---
# some options require clang-format-9
Language: Cpp
BasedOnStyle: Google
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Linux
ColumnLimit: 80
ContinuationIndentWidth: 2
DerivePointerAlignment: false
IndentCaseLabels: true
IndentWidth: 2
PointerAlignment: Right
UseTab: Never
