root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bat,cmd,ps1}]
end_of_line = crlf

[*.{py,rst}]
indent_size = 4
indent_style = space

[*.{c,cfg,in,ini,json,rst,sh,yml,yaml}]
indent_size = 2
indent_style = space
