root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bat,cmd,ps1}]
end_of_line = crlf

[*.{c,ini,py,rst,yml}]
indent_style = space

[*.{json,py,rst}]
indent_size = 4

[*.{c,cfg,in,ini,rst,sh,yml}]
indent_size = 2

[{Makefile,**.json,**.mk}]
indent_style = tab
