{
  "branches": [
    "main",
    "next"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          {
            "message": "*[release:minor]*",
            "release": "minor"
          },
          {
            "message": "*[release:patch]*",
            "release": "patch"
          }
        ]
      }
    ],
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    "semantic-release-pypi",
    [
      "@semantic-release/git",
      {
        "assets": [
          "pyproject.toml",
          "src/hyperscan/_version.py"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
